<!-- <app-title-bar></app-title-bar>
<i
      class="menu fa-solid fa-bars fa-2x pt-3 pl-3"
      (click)="sideMenuToggle()"
      id="menuIcon"
      style="color: white"
    ></i>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 pt-3">
      <app-side-bar></app-side-bar>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<app-title-bar></app-title-bar>
<div class="row">
    <div class="sm-col-3 p-3">
        <div class="d-flex p-3">
            <app-side-bar></app-side-bar>
            <!-- this is the menu bar icon -->
            <div>
                <i class="menu fa-solid fa-bars fa-2x p-3" id="menuIcon" (click)="sideMenuToggle()"
                    style="color: white"></i>
            </div>
        </div>
    </div>
    <div class="sm-col-9 p-3">
        <div class="row">
            <div class="container-fluid">
                <div class="md-col-10">

                </div>
                <div class="md-col-1 mt-2">
                    <app-filter-menu></app-filter-menu>
                </div>
            </div>
        </div>
        <div class="row p-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>