<div class="container">
  <div class="row text-white">
    <ng-container *ngFor="let doctor of doctors">
      <div class="col-3">
        <div class="card m-3">
          <div class="card-header text-center">
            <img src="{{ doctor.url }}" alt="" class="img-fluid"/>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ doctor.name }}</h5>
            <p class="card-text">{{ doctor.specification }}</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>