<div class="update_surgery card popup">

    <form>
        <div class="form-group">
            <label>DoctorId</label>
            <input type="text" readonly class="form-control" name="id" id="id"
                placeholder="{{surgery_update.doctorId}}">
        </div>
        <div class="form-group">
            <label>SurgeryId</label>
            <input type="text" readonly class="form-control" name="sid" id="sid"
                placeholder="{{surgery_update.surgeryId}}">
        </div>
        <div class="form-group">
            <label>Surgery Date</label>
            <input type="text" readonly class="form-control" name="sdate" id="sdate"
                placeholder="{{surgery_update.surgeryDate.getDate()}}">
        </div>
        <div class="form-group">
            <label>Start Time</label>
            <input type="text"  class="form-control" name="stime" id="stime"
                placeholder="{{surgery_update.startTime}}">
        </div>
        <div class="form-group">
            <label>End Time</label>
            <input type="text" class="form-control" name="etime" id="etime"
                placeholder="{{surgery_update.endTime}}">
        </div>
        <input type="button" class="btn btn-danger" value="Submit">
        <input type="button" (click)="closePopup()" class="btn btn-danger" value="Close">
    </form>


</div>