<div class=" card popup">

    <form>
        
        <div class="form-group">
            <label>Doctor Name</label>
            <input type="text"  class="form-control" name="dname" id="dname" [(ngModel)]="DoctorName"
                placeholder="Enter Doctor Name">
        </div>

        <div>
            <div class="form-group col-md-4">
                <label for="inputState">Specialization</label>
                <select id="inputState" class="form-control" name="select" [(ngModel)]="Specialization">
                  <option value="ANE">ANE</option>
                  <option value="GYN">GYN</option>
                  <option value="CAR">CAR</option>
                </select>
              </div>
        </div>
        <div class="form-group">
            <label>Date Of Specialization </label>
            <input type="date" class="form-control" name="sdate" id="sdate" [(ngModel)]="date"
                placeholder="Date">
        </div>
      
        <input type="button" class="btn btn-danger" (click)="OnSubmit()" value="Submit">
        <input type="button" (click)="closePopup()" class="btn btn-danger" value="Close">
    </form>


</div>