.add-doctor {
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* background-color: #2ecc71; */
    /* Change the background color as needed */
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 0.4;
    z-index: 5;
}

.add-doctor:hover{
    opacity: 1;
}

img{
    width: 60px;
}