<div class="d-flex">
  <div class="sidebar active" id="sideBar">
    <div class="menus">
      <ul>
        <li class="my-2 text-center" routerLink="viewDoctors">View Doctors</li>
        <li class="my-2 text-center" routerLink="viewSpecialization">
          View Specialization
        </li>
        <li class="my-2 text-center" routerLink="viewSchedule">
          View Today's Schedule
        </li>
      </ul>
    </div>
  </div>
  <!-- this is the menu bar icon -->
  <div>
    <i
      class="menu fa-solid fa-bars fa-2x pt-3 pl-3"
      (click)="sideMenuToggle()"
      id="menuIcon"
      style="color: white"
    ></i>
  </div>
</div>
