<app-title-bar></app-title-bar>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar column -->
    <div class="col-3 pt-3">
      <app-side-bar></app-side-bar>
    </div>

    <!-- <div class="col-9">
      <div class="container-fluid">
        <app-filter-menu></app-filter-menu>
        <div class="row text-white">
          <div class="col-4">
            <div class="card m-3">
              <div class="card-header text-center">
                <img
                  src="https://i.pinimg.com/originals/eb/36/af/eb36af4cd6a2295a22ac7cdb31b0f1a0.jpg"
                  alt=""
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Dr. Arun Babu</h5>
                <p class="card-text">Pediatrician</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card m-3">
              <div class="card-header text-center">
                <img
                  src="https://getwallpapers.com/wallpaper/full/a/d/9/302389.jpg"
                  alt=""
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Jessica Jones</h5>
                <p class="card-text">Orthodontist</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card m-3">
              <div class="card-header text-center">
                <img
                  src="https://irp-cdn.multiscreensite.com/d8037e1a/dms3rep/multi/Functional+Medicine+Doctor+Chicago.jpeg"
                  alt=""
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Dr. J Jameson</h5>
                <p class="card-text">Radiologist</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card m-3">
              <div class="card-header text-center">
                <img
                  src="https://irp-cdn.multiscreensite.com/d8037e1a/dms3rep/multi/Functional+Medicine+Doctor+Chicago.jpeg"
                  alt=""
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Dr. J Jameson</h5>
                <p class="card-text">Radiologist</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <app-surgery-list></app-surgery-list>
  </div>
</div>
